@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Kaushan+Script&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-none;
  list-style: none;
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
}
:root {
  --primary-color: #1DB2ff;
  --primary-light: #E7F6FD;
  --white: #fff;
  --text-color: #1a1a1a;
  --gray-color: #808080;
  --secondary-color: #f58220;
  --KaushanScript-font: "Kaushan Script", cursive;
  --transition-regular: .3s;
  --transition-slow: .6s;
}
body {
  overflow-x: hidden !important;
}

.navbar {
  padding: 0 8%;
}

.nav-logo {
  color: var(--text-color);
  font-family: var(--KaushanScript-font);
  font-weight: 400;
}

.navbar-menu {
  padding-left: 100px;
}

.navbar-menu li {
  color: var(--primary-color) !important;
  padding: 0 10px !important;
  font-weight: 600 !important;
  position: relative;
  z-index: 1;
}

.navbar-menu li a {
  transition: var(--transition-regular);
}

.navbar-menu li::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-light);
  border-radius: 30px;
  opacity: 0;
  z-index: -1;
  transition: var(--transition-regular);
}

.navbar-menu li:hover:after {
  opacity: 1;
}
.navbar-menu li:nth-child(2) a { 
  color: var(--primary-color) !important;
}
.navbar-menu li:nth-child(1):after {
  opacity: 1;
}
.nav-social i {
  color: var(--primary-color);
  padding: 0 8px;
  border-radius: 50%;
  transition: var(--transition-slow);
}
.nav-social i:hover {
  background-color: var(--primary-light);
  cursor: pointer;
}
.nav-user-phone i {
  color: var(--primary-color);
}
.navbar-toggler {
  border: none;
  font-size: 2rem;
  color: var(--primary-color);
}
.user-profile {
  position: relative !important;
  display: inline-block;
}
.user-icon {
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--primary-color);
  fill: var(--primary-color);
}
.user-modal {
  position: absolute;
  top: 100%;
  padding: 10px;
  left: -180px;
  border-radius: 10px;
  box-shadow: 0 0 7px -2px rgba(0, 0, 0, 0.19);
  min-width: 205px;
  background-color: var(--white);
  visibility: hidden;
  opacity: 0;
  transform: translateY(0);
  transition: all var(--transition-regular) ease;
}
.user-profile:hover .user-modal {
  visibility: visible;
  opacity: 1;
  transform: translateY(8px);
}
.user-modal-box {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: var(--transition-regular);
}
.user-modal-box:hover {
  background-color: var(--primary-color) !important;
}
.user-modal-box i {
  color: var(--primary-color);
}
.login-modal {
  background-color: var(--white);
  padding: 2rem;
  border-radius: 16px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, .2);
  animation: scaleIn .3s ease;
}
@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(.95);
  } 
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.login-left-overlay {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 100%;  
  opacity: .7;
  z-index: 0;
}
.login-right .login-close {
  background-color: #e4e4e4;
  color: #000 !important;
  cursor: pointer;
  border: none;
  right: 10px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  padding: 0;
  border-radius: 50%;
  margin: 5px;
  font-size: 14px;
  transition: var(--transition-regular);
}
.login-right .login-close:hover {
  background-color: #000;
  color: var(--white) !important;
}
.login-right h6 {
  border-bottom: 1px solid var(--primary-color) !important;
}
.login-form {
  background-color: var(--primary-light) !important;
}
.login-form input {
  margin-bottom: 14px;
  padding: 10px 15px 9px;
  line-height: 1;
  box-shadow: 0 2px 8px rgba(29, 178, 255, .18);
  align-items: center;
  background: var(--white);
  border-radius: 30px;
  height: 50px;
  border: 0;
}
.login-form button {
  height: 45px;
  background-color: var(--primary-color) !important;
  border: none;
  font-size: 1.1rem;
  font-weight: 500;
}
.nav-menu-2 {
  display: none !important;
}
@media (max-width:991px) {
  .nav-menu-2 {
    display: flex !important;
  }
}
.nav-banner-right {
  border-radius: 30px 0 0 0;
  background-color: var(--primary-light);
}
.nav-banner-left h2 {
  text-align: center;
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: 600;
}
.custome-btn1 {
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  width: 160px;
  height: 45px;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
}
.hero-main {
  width: 100%;
  height: 100vh;
}
.hero-main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-content {
  position: absolute;
  bottom: -90px;
  left: 0;
  width: 100%;
}
.hero-info {
  width: 100%;  
}
.hero-icon {
  width: 25px !important;
  height: 25px !important;
  filter: brightness(0) saturate(100%) invert(62%) sepia(100%) saturate(748%) hue-rotate(167deg) brightness(97%) contrast(101%);
}
.hero-sale span {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 0.9rem !important;
}